*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    direction: ltr ;
    font-size: 'vazir' !important;
    background-color: #f8f8f8 !important;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(117, 117, 117, .3);
    height: 75px;
    padding: 0 20px ;
    position: relative;
}
.container{
    width: 1400px ;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-logo img{
    width: 75px;
}

.nav-logo .nav-toggle{
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: 27px;
    cursor: pointer;
    display: none;
}

.nav-links .list{
    display: flex;
    align-items: center;

}
.nav-links .list li{
    margin: 0 10px ;

}

.nav-links .list li a {
    color: #333;
    font-size: 17px;
}
.nav-links{
    transition: all .3s ease
}

.nav-social{
    display: flex;

}

.nav-social li{
    margin-left: 10px ;
}

.nav-social li{
    margin-left: 10px;
}

.nav-social li a {
    color: #333;
}


@media screen and (min-width:768px) {
    .nav-links{
        height: auto !important;
    }
    
}

@media screen and (max-width:767px) {
    .nav-logo{
        width: 100%;
    }

    .nav-toggle{
        display: block !important;
    }

    .nav-links{
        position: absolute;
        right: 0;
        left:  0 ;
        top: 75px;
        height: 0;
        background: #fff;
        border-top:  1px solid rgb(245 , 245 , 245);
        overflow: hidden;
    }
    .nav-links .list{
        display:block ;
    }
    .nav-links .list li{
        padding: 15px 20px ;
    }
    .nav-social{
        display: none;
    }
    .active{
        height: 10rem;
    }


}